<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">
      <img src="../../assets/fst-logo.jpg" alt="logo" >
     Mouhib_Riyadh_Cloud_project
    </label>
        <ul>
          <li><a class="active" [routerLink]="['/lister']">Entreprises</a></li>
          <li><a [routerLink]="['/Chercher']">Chercher</a></li>
          <li><a [routerLink]="['/ajouter']">Ajouter</a></li>
          <li><a [routerLink]="['/modifier']">Modifier</a></li>
          <li><a [routerLink]="['/supprimer']">Supprimer</a></li>
        </ul>
</nav>
     

