<div>
<form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" formControlName="nom" class="form-control" placeholder="7aja">
    </div>
    <div class="form-group">
      <label for="prenom">domaine</label>
      <input id="prenom" formControlName="prenom" class="form-control" placeholder="IT">
    </div>
    <div class="form-group">
      <label for="mail">Mail</label>
      <input id="mail" formControlName="mail" class="form-control" placeholder="foulen@gmail.com">
    </div>
    <div class="form-group">
      <label for="filiere">Filière demandé</label>
      <input id="filiere" formControlName="filiere" class="form-control" placeholder="X">
    </div>
    <div class="form-group">
      <label for="niveau">Niveau demandé</label>
      <input id="niveau" formControlName="niveau" class="form-control" placeholder="2eme">
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input id="telephone" formControlName="telephone" class="form-control" placeholder="9999999">
    </div>
    <div class="form-group">
      <label for="ecole">Écoles partenaire</label>
      <input id="ecole" formControlName="ecole" class="form-control" placeholder="X">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter Entreprises</button>
  </form>
</div>